{
  "ConnectionDefinition": [
      {
        "connectionType": "Access token",
        "token": "",
        "url": "https://api.phrase-staging.com"
      },
      {
        "connectionType": "API token",
        "token": "",
        "url": "https://api.phrase-staging.com"
      }
  ],
  "TestFolder": "TestFiles"
}